<div class="sidebar">
  <ul>
    <li><%= link_to "Proifle", profile_settings_path %></li>
    <li><%= link_to "Account", account_settings_path %></li>
    <li><%= link_to "Appearance", apearance_settings_path %></li>
    <li><%= link_to "Notifications", notifications_settings_path %></li>
  </ul>
</div>
