<div class="banner">
  <div class="tags">
    <ul class="tags__list">
      <% @tags.each do |t| %>
        <li>
          <%= link_to t.tag_name, search_results_path(t.tag_name) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="banner__background">
    <% # image_tag here goes the background image  %>
  </div>
</div>
