.nav__container {
  background-color: $bg-dark;
  padding: 10px;
  overflow: hidden;
}

.nav {
  --state-hamburguer: scale(1);
  --state-close: scale(0);
  --state-menu: translate(-100%);

  display: grid;
  grid-template-columns: 1fr 60px 20px;
  align-items: center;
  justify-content: center;

  .logo {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
    color: $light;
  }

  .responsive_icons {
    grid-column: 3/-1;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    font-size: $fs-nm;
  }

  &__hamburguer {
    transform: var(--state-hamburguer);
    color: $light;
  }

  &__close {
    transform: var(--state-close);
    color: $light;
  }

  &__hamburguer, &__close {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
    transition: 0.4s transform;
  }

  .search-icon {
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: $light;
  }

  .search__bar {
    background-color: $bg-dark;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate(100%);
    transition: 0.4s transform;
    z-index: 1;

    form {
      display: grid;
      grid-template-columns: 30px 1fr;
      align-items: center;
      justify-content: center;

      i { color: $light; font-size: $fs-nm; }
    }
  }

  &__links {
    background-color: $bg-dark;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    align-content: center;
    align-items: center;
    justify-content: center;
    transform: var(--state-menu);
    transition: 0.4s transform;

    a {
      color: $light;
      &:active { color: crimson; }
    }

    .notifications { display: none; }

    .dropdown__menu {
      .avatar {
        .user-icon { display: none; }
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                Mediaqueries                                */
/* -------------------------------------------------------------------------- */

@media (min-width: 768px) {
  #container {
    font-size: $fs-md;

    h1 {
      font-size: $fs-l;
    }
  }

  .nav {
    grid-template-columns: 100px 1fr 30px;
    gap: 1rem;
    position: unset;

    .logo {
      font-size: $fs-sm;
      grid-column: 1/2;
      grid-row: 1/2;
    }

    .responsive_icons {
      font-size: $fs-md;
    }

    .search__bar {
      grid-column: 2/3;
      grid-row: 1/2;
      width: 100%;
      background-color: crimson;
      padding: 0;
      position: relative;
      transform: translate(0);

      form {
        position: relative;

        input {
          width: 100%;
          position: absolute;
          border: none
        }

        i { display: none; }
      }

    }

    .search-icon {
      position: relative;
      grid-column: 2/3;
      grid-row: 1/2;
      padding: 9px 20px;
      width: 10%;
      left: 90%;
      display: flex;
      color: $dark;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      z-index: 2;
    }
  }
}
