// --- Titles font-size --- //
$h1: 2.2rem;
$h2: 2rem;
$h3: 1.7rem;
$h4: 1.5rem;
$h5: 1.3rem;
$h6: 1rem;

// ############################################# //

// ------ Base background colors ----- //
$bg-light: #fffffffa;
$bg-dark: #323232;

// ------ Base font colors ----- //
$light: #f7f7f7fa;
$dark: #2c2c2c;


// ############################################# //

// -------- Borders ------- //
$border-1: 1px;
$border-3: 3px;
$border-5: 5px;
$border-7: 7px;
$border-10: 10px;

$border-radius-3: 3px;
$border-radius-5: 5px;
$border-radius-7: 7px;
$border-radius-10: 10px;

// ------- FontSizes ------ //

$fs-sm: 1rem;       // small
$fs-nm: 1.2rem;     // normal
$fs-md: 1.4rem;     // medium
$fs-l: 1.6rem;      // large
$fs-xl: 1.8rem;     // extra large

// ------- Paddings ------- //

$padding-3: 3px;
$padding-5: 5px;
$padding-7: 7px;
$padding-10: 10px;
